<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
           
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal1"><Span class="pull-right"><a >Editar perfil</a></Span></button>
      
        
        <div class="modal fade" id="myModal1" role="dialog">
          <div class="modal-dialog">
          
           
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <!--
                
              -->
              <div class="modal-body">
                <form action="/profile/edit/{{current_user.id}}" method="POST" class="form form-class" enctype="multipart/form-data">
                  Nombre: <input type="text" class="form-control"value="{{current_user.firstname}}" name="firstname"></small><br>
                  Apellido : <input type="text" class="form-control"value="{{current_user.lastname}}" name="lastname"><br>
                  Usuario: <input type="text" class="form-control"value="{{current_user.username}}" name="username"><br>
                  Correo Electronico : <input type="email" class="form-control"value="{{current_user.email}}" name="email"><br>
                  Sobre mi : <input type="text" class="form-control"value="{{current_user.about_me}}" name="about_me"><br>
                  
                  <label class="btn btn-default btn-file">
                    Foto de perfil <input type="file" name="file"  class="form-control" style="display: none;"><br>
                </label><br>
                  <input type="submit" value="Guardar" class="form-control" >
              </form>
            </div>
            </div>
            
          </div>
        </div>
        
      </div>
</body>
</html>