{% extends "baseingreso.html" %}
{% block head %}
  <title>Serinus</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  

  <style>
    .choose_file{
    position:relative;
    display:inline-block;    
	border-radius:8px;
    border:#ebebeb solid 1px;
    width:550px; 
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
	background:white
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}

  </style>
{% endblock %}
{% block body %}
 

<script>
  
    jQuery(document).ready(function($) {
  $('.comments') .hide()
$('a[href^="#"]').on('click', function(event) {
$('.comments') .hide()
    var target = $(this).attr('href');

    $('.comments'+target).toggle();

});
});

  </script>
<div class="main container-fluid">
 </div>

  <nav class="navbar navbar-expand-lg navbar-light btn-lg" >
    <a class="navbar-brand" href="/" style="color: white;font-size: 30px;" >Serinus Canaria Doméstika</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 70px;" >
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
          <a class="btn btn-outline-success my-2 my-sm-0" href="/" style="color: white;margin-right: 15px;">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="btn btn-outline-success my-2 my-sm-0" href="/profile" style="color: white;margin-right: 15px;">Perfil</a>
        </li>
        <li class="nav-item active">
          <a class="btn btn-outline-success my-2 my-sm-0" href="/friends" style="color: white;margin-right: 15px;">Amigos</a>
        </li>
        <li class="nav-item active">
          <a class="btn btn-outline-success my-2 my-sm-0 " href="/logout" tabindex="-1" aria-disabled="false" style="color: white;margin-right: 15px;">Cerrar sesión</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 float-right" action='/search' method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="usuario" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
  <!-- main -->
  <main class="container col-md-12"id="main1" style="margin-top: 30px;">
    <div class="row" style="margin-left: 10px">
      <div class="col-md-3">
        
        <div class="panel panel-default" style="border-color: yellow;">
          <div class="panel-body">
            <h4 >{{current_user.name}}</h4>
            <p>Sobre mi: {{current_user.about_me}}</p>
            
          </div>
        </div>
        
        <div class="panel panel-default" style="border-color: yellow;">
          <div class="panel-body" >
            <h4><a href="/friendreq" style="color: white;margin-left: 50px;">Solicitudes de amistad</a></h4>
            <ul>
              
                {% for req in r %}
                <li>
                  {%set name=User.query.filter_by(username=req.user_from).first().name%}
                <a style="margin-left: 90px;font-size: 20px;" href="/user/{{req.user_from}}">{{name}}</a>
                <form action="/accept/{{req.id}}" method="POST" style="margin-left: -40px;">
                  <small><button type="Submit" value="Accept" name="acccept" class="btn btn-success btn-sm float-left col-sm-6" style="text-align: center;">Aceptar </button></small></form>
                  <form action="/reject/{{req.id}}" method="POST"><input type="Submit" value="Rechazar" name="reject" class="btn btn-danger btn-sm float-right col-sm-6" ></form>

                
              </li><br><hr>
              {% else %}
              <h5>No tienes solicitudes de amistad</h5>
              {% endfor %}
            </ul>
          </div>
        </div>
        
      </div>
      <div class="col-md-5" >
        <!-- post form -->
        {% if msg != '' %}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{ clean }} 
        {% endif %}
        {% if msg2 != '' %}
        <div class="alert alert-danger">
          {{msg2}}
        </div>
        {{ clean }} 
        {% endif %}
        
        <form method="post" action="/dashboard/new" enctype="multipart/form-data">
          <div class="input-group">
            <div class="choose_file"style="width: 100px;">
              <span >Elegir foto</span>
              <input name="media" type="file" >
          </div>
            <input class="form-control" type="text" name="content" placeholder="Realizar publicación..." name="content"><br><br>
              <button class="btn btn-success" type="submit" name="post">Publicar</button>

              
            </span>
          </div>
        </form><hr>

        <!-- ./post form -->
        {% if splitf != '' %}
        {% for fr in splitf %}
        {% set post1 = blogposts.filter_by(username=fr) %}
        <!-- feed -->
      <div>
          <!-- post -->
          {% for posts in post1 %}
          <div class="panel panel-default" >
            <div class="panel-header">
              <span> <a href="/user/{{posts.username}}">{{posts.author}}</a></span>
              <span>Publicado a las {{posts.date}}</span>
            </div>
            <div class="panel-body">
              {% if "media" in posts.content %}
              {% set media1 = posts.content.split(',') %}
              {% if media1[2] %}
              <p>
                <embed src="{{media1[1]}}" width="100%" height="100%"><br>
                <b>{{media1[2]}}</b></p>
                {% else %}
              <p><embed src="{{media1[1]}}" width="100%" height="100%"><br></p>
                {% endif %}
              {% else %}
                <p>
                  <b>{{posts.content}}</b>
                  </p>
                {% endif %}
                
            <div class="panel-footer">

              {% set likes2= likes.query.filter_by(user_id=posts.id).first() %}

              {% set likes2= likes.query.filter_by(user_id=posts.id).first() %}

              <h5><a href="/addlike/{{posts.id}}">Me gusta</a> {{likes2.total}}</h5> <a href="#expe{{posts.id}}" class="fa fa-caret-down" >Comentarios</a>  
              <div>
                <form action="/dashboard/new_comment/{{posts.id}}" method="POST">
                  <input type="text" name="comment" placeholder="Escriba su comentario">
                  <input type="submit" value="Comentar" class="btn btn-success">
                </form>
                <div class="comments" id="expe{{posts.id}}">

                {% set comment1 = comment.query.filter_by(user_id=posts.id).all()  %}

                {% set comment1 = comment.query.filter_by(user_id=posts.id).all()  %}

                {% for comments in comment1 %}
                <b><a href="/user/{{comments.username}}">{{comments.username}}</a></b> -
                {{comments.text}}
                {% if current_user.username == comments.username %}
                <small><a href="/dashboard/del_comment/{{comments.id}}" style="color: red;">Borrar</a></small>
                {% endif %}<br>
                {% endfor %}
              </div>
              </div>
            </div>
            
            </div>
             <hr>
          </div>

          {% endfor %}
          {% endfor %}
          {% endif %}

          {% for post in posts %}
      
      {% endfor %}

          <!-- ./post -->
        </div>
        <!-- ./feed -->
      </div>
      
      </div>
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  
{% endblock %}