{% extends "baseingreso.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_pro.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bt.css') }}">
  <script src="{{ url_for('static', filename='js/bt.js') }}"></script>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <title>Perfil</title>
  {% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light btn-lg" >
  <a class="navbar-brand" href="/" style="color: white;font-size: 30px;" >Serinus Canaria Doméstika</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 70px;" >
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/" style="color: white;margin-right: 15px;">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/profile" style="color: white;margin-right: 15px;">Perfil</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/friends" style="color: white;margin-right: 15px;">Amigos</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0 " href="/logout" tabindex="-1" aria-disabled="false" style="color: white;margin-right: 15px;">Cerrar sesión</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 float-right" action='/search' method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="usuario" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
  <script>
    
    jQuery(document).ready(function($) {
  $('.comments') .hide()
$('a[href^="#"]').on('click', function(event) {
$('.comments') .hide()
    var target = $(this).attr('href');

    $('.comments'+target).toggle();

});
});
    </script>
  
  <main class="container">
    <div class="row">
        <div class="panel panel-default" style="height: 350px;width: 200px; margin-left: -100px;border-color:yellow ;">
          <div class="panel-body" >
            <h4>Editar perfil</h4>
            <form method="post" action="/profile/edit1/{{current_user.id}}" >
              <div class="form-group" >
                <h5>Sobre mi</h5>
                <input class="form-control" type="text" name="status" placeholder="Sobre mi" value="{{current_user.about_me}}" name="about">
                <h5>Ciudad</h5>
                <input class="form-control" type="text" name="location1" placeholder="Ciudad" value="{{current_user.location}}"><br>
                Cuenta privada: <br>
                <div class=" col-sm-3">
               Si
                
                <input type="radio" class="checkbox" name="private" style="width: 15px;height: 15px;" value="yes" {% if current_user.isprivate == 1 %} checked {% endif %}><br>
                </div>
          <div class="form-group">
                No
                
                <input type="radio" class="checkbox" name="private" style="width: 15px;height: 15px;" value="no" {% if current_user.isprivate == 0 %} checked {% endif %}><br>
              </div>
                <input style="background: linear-gradient(to right, #fe8c00, #f83600); border-color: yellow;"class="btn btn-primary" type="submit" name="update_profile" value="Guardar cambios">

              </div>
            </form >
            {% if current_user.rol != 'usuario'  %} <!--pruebas rol-->
            <div style="margin-top: 40px;height: 150px;" class="row">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form method="post" action="/view_users" >
                    <h4> Panel de control de usuario</h4>
                    <br>
                    <input  class="btn btn-primary" type="submit"  value="Ver usuarios">
                  </form>
                    {% endif %}
                    {% if current_user.rol == 'superadmin'  %}
                    <form method="post" action="/view_admins">
                    <input action="/view_admins" style="margin-top: 15px;" class="btn btn-primary" type="submit"  value="Ver admins">
                  </form>
                 
            </div>
            </div>
            </div>
            
            {% endif %}
            
          </div>
        
      </div>
      <!---->
    
      
    <!---->
     
      
      
    </div>




    
  </main>
  <div class="col-md-6 " style="margin-left: 80px;left: 200px; margin-top: -350px;position: absolute;">
   
    <div class="media">
      <div class="media-left" >
        <img src="{{current_user.profile_pic}}" class="media-object" style="width: 128px; height: 128px; border-radius: 100px;">
      </div>
      <div class="media-body">
        <h2 class="media-heading" style="color: white;">{{current_user.name}} </h2>
        <p style="color: white;margin-top: 20px;">Sobre mi: {{current_user.about_me}}<br> Ciudad: {{current_user.location}}</p>
        {% if current_user.isprivate == 1 %}
        <p><b>Su perfil es privado</b></p>
        {% endif %}
      
       <div class="container" >
       
        <button style="margin-left: -12px;background: linear-gradient(to right, #fe8c00, #f83600); border-color: yellow;" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal1"><Span class="pull-right"><a >Editar perfil</a></Span></button>
      
        
        <div class="modal fade" id="myModal1" role="dialog">
          <div class="modal-dialog">
          
           
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <!--
                
              -->
              <div class="modal-body" >
                <form action="/profile/edit/{{current_user.id}}" method="POST" class="form form-class" enctype="multipart/form-data">
                  Nombre: <input type="text" class="form-control"value="{{current_user.name}}" name="firstname"></small><br>
                  Usuario: <input type="text" class="form-control"value="{{current_user.username}}" name="username"><br>
                  Genero: <input class="form-control" type="radio" name="gen" value="{{current_user.gender}}">Femenino 
                  Ciudad: <input type="text" class="form-control"value="{{current_user.location}}" name="location"><br>
                  Correo Electronico : <input type="email" class="form-control"value="{{current_user.email}}" name="email"><br>
                  Sobre mi : <input type="text" class="form-control"value="{{current_user.about_me}}" name="about_me"><br>
                  
                  <label class="btn btn-default btn-file">
                    Foto de perfil <input type="file" name="file"  class="form-control" style="display: none;"><br>
                </label><br>
                  <input type="submit" value="Guardar" class="form-control" >
              </form>
            </div>
            </div>
            
          </div>
        </div>
        
      </div>
      
      </div>
    </div>
    
    <div style="width: 600px;" >
      <hr>
      
      {% if msg != '' %}
      {{msg}}
      {{clean}}
      {% endif %}
      <form method="post" action="/dashboard/new" >
        <div class="input-group" >
          <input class="form-control" type="text" name="content" placeholder="Como te sientes hoy..." name="content">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" name="post">Publicar</button>
          </span>
        </div>
      </form><br>
      {% for post in posts %}
      
      <div class="panel panel-default"  >
        <div class="panel-body">
            {% if "media" in post.content %}
            {% set media1 = post.content.split(',') %}
            {% if media1[2] %}
            <p>
              <embed src="{{media1[1]}}" width="100%" height="100%"><br>
              <b>{{media1[2]}}</b></p>
              {% else %}
            <p><embed src="{{media1[1]}}" width="100%" height="100%"><br></p>
              {% endif %}
            {% else %}
              <p>
                <b>{{post.content}}</b>
                </p>
              {% endif %}
         
          <small><span>Publicado {{post.date}}</span></small> <br>
        </div>
        <div class="panel-footer">
          
          {% set likes2= likes.query.filter_by(user_id=post.id).first() %}
          <small><span><a href="/addlike/{{post.id}}" >Me gusta </a>{{likes2.total}}</span></small>
          <small></small>
          <a href="#expe{{post.id}}" class="fa fa fa-times closer" >Comentarios</a>
          <div>
            <form action="/dashboard/new_comment/{{post.id}}" method="POST">
              <input type="text" name="comment" placeholder="Escriba su comentario">
              <input type="submit" value="Comentar" class="btn btn-success">
            </form>
            <div class="comments" id="expe{{post.id}}">
            {% set comment1 = comment.query.filter_by(user_id=post.id).all()  %}
            {% for comments in comment1 %}
            <b><a href="/user/{{comments.username}}">{{comments.username}}</a></b> -
            {{comments.text}}
            {% if current_user.username == comments.username %}
            <small><a href="/dashboard/del_comment/{{comments.id}}" style="color: red;">Borrar</a></small>
            {% endif %}<br>
            {% endfor %}
          </div>
          </div>
          <small><span class="pull-right "><a class="text-danger btn btn-danger text-light btn-sm" href="/dashboard/delete/{{post.id}}">Borrar</a></span></small>
          
          <div class="container">
          
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><Span class="pull-right"><a class="text-white" >Editar</a></Span></button>
          
            
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
              
           
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                  </div>
                  
                  <div class="modal-body">
                    <form action="/dashboard/edit/{{post.id}}" method="POST">
                      Tipo: <input type="text" name="title" id="title" value={{post.title}}>
                      <br>
                      Publicación: <textarea class=" form-control rounded-0" style="max-width: 300px;" name="content" id="content" value={{post.content}}></textarea>
                      <br>
                      Autor: <input type="text" name="author" value={{post.author}}> <br>
                      <input type="submit" value="Comentar">
                  </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>
          <!--modal-->
        <hr>
        </div>
      </div>
      
      {% else %}
      <div class="panel panel-default">
        <div class="panel-body">
      
      <p>¡¡¡Nada publicado todavía !!!</p>
      </div>
      </div>
      {% endfor %}
     
      
      
   
    </div> 
      

  </div>
  <div class="col-md-3" style="position: absolute; left: 1000px;top: 120px;">
       
    <div class="panel panel-default" style="border-color: yellow;">
      <div class="panel-body" >
        <h4>Lista de amigos</h4>
        
          {% if (friends != None) and (friends != "") %}
          {% for user in friends %}
          <ul>
            
            {% if (User.query.filter_by(username=user).first().name != None) %}
            {% if user != ''%}
            {% set name=User.query.filter_by(username=user).first().name %} 


          <li>

            <a href="user/{{user}}">{{ name }}</a> <br>
            <small><a href="/remfriend/{{user}}" style="color: red;">Eliminar amigo</a></small> 
          </li><hr></ul>
        {% endif %}
          {% else %}
        No tienes amigos agregados
        {% endif %}
          {% endfor %}
          {% else %}
        No tienes amigos agregados
          {% endif %}
        
      </div>
    </div>
    
  </div>

  
  
  

 

{% endblock %}