{% extends 'baseingreso.html' %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light btn-lg" >
  <a class="navbar-brand" href="/" style="color: white;font-size: 30px;" >Serinus Canaria Doméstika</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 70px;" >
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/" style="color: white;margin-right: 15px;">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/profile" style="color: white;margin-right: 15px;">Perfil</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/friends" style="color: white;margin-right: 15px;">Amigos</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0 " href="/logout" tabindex="-1" aria-disabled="false" style="color: white;margin-right: 15px;">Cerrar sesión</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 float-right" action='/search' method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="usuario" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
  <div align="center" class="col" style="width: 30%;margin-left: 25%;">
  {% for users in search %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col"><embed src="{{users.profile_pic}}" style="border-radius: 25px;" width="50%" height="100%"></div><br>
          <div class="col "><a href="/user/{{users.username}}" style="top: 100%;float: left; font-size: 20px;">{{ users.name }}
</a></div>
</div><br>
{% if current_user.username != users.username %}
{% if current_user.friend_array != None %}
          {% if users.username in current_user.friend_array %}
          <small>Ustedes son amigos</small><br>
          
          
{% elif f.query.filter_by(user_from=current_user.username, user_to=users.username).first() == None %}
<form action="/addfriend/{{users.username}}" method="POST">
<input type="submit" class="btn btn-success btn-sm" value="Agregar amigo" name="addfriend">
</form>
{% else %}
<br>Solicitudes de amistad pendientes
{% set a=f.query.filter_by(user_from=current_user.username, user_to=users.username).first().id %}<br>
<a href="/reject/{{a}}">Rechazar</a><br>

{% endif %}
{% endif %}
{% endif %}
</div></div>
{% else %}
No ha cargado!
{% endfor %}
</div>
{% endblock %}
